<div class="section__piano"></div>
<div class="wrapper">
  <div class="chords">
    <p>Chords:</p>
    <button class="btn" (click)="autoNoteEmitter.emit('C')">C</button>
    <button class="btn" (click)="autoNoteEmitter.emit('Dm')">Dm</button>
    <button class="btn" (click)="autoNoteEmitter.emit('Em')">Em</button>
    <button class="btn" (click)="autoNoteEmitter.emit('F')">F</button>
    <button class="btn" (click)="autoNoteEmitter.emit('G')">G</button>
    <button class="btn" (click)="autoNoteEmitter.emit('Am')">Am</button>
    <button class="btn" (click)="autoNoteEmitter.emit('Hdim')">Hdim</button>
  </div>
  <header>
    <h2>PlayPiano</h2>
    <div class="column speed-slider">
      <span>Speed</span
      ><input
        type="range"
        [(ngModel)]="sliderValue"
        min="0.001"
        max="0.005"
        value="0.002"
        step="0.001"
      />
    </div>
    <div class="column keys-checkbox">
      <span>Show keys</span
      ><input type="checkbox" (click)="showHideKeys()" checked />
    </div>
  </header>

  <ul class="piano_keys">
    <li class="key white" data-key="q"><span>q</span></li>
    <li class="key black" data-key="black"><span></span></li>
    <li class="key white" data-key="w"><span>w</span></li>
    <li class="key black" data-key="black"><span></span></li>
    <li class="key white" data-key="e"><span>e</span></li>
    <li class="key white" data-key="r"><span>r</span></li>
    <li class="key black" data-key="black"><span></span></li>
    <li class="key white" data-key="t"><span>t</span></li>
    <li class="key black" data-key="black"><span></span></li>
    <li class="key white" data-key="y"><span>y</span></li>
    <li class="key black" data-key="black"><span></span></li>
    <li class="key white" data-key="u"><span>u</span></li>
    <li class="key white" data-key="i"><span>i</span></li>
    <li class="key black" data-key="black"><span></span></li>
    <li class="key white" data-key="o"><span>o</span></li>
    <li class="key black" data-key="black"><span></span></li>
    <li class="key white" data-key="p"><span>p</span></li>
    <li class="key white" data-key="z"><span>z</span></li>
    <li class="key black" data-key="black"><span></span></li>
    <li class="key white" data-key="x"><span>x</span></li>
    <li class="key black" data-key="black"><span></span></li>
    <li class="key white" data-key="c"><span>c</span></li>
    <li class="key black" data-key="black"><span></span></li>
    <li class="key white" data-key="v"><span>v</span></li>
  </ul>
</div>
